<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>회원가입</title>
</head>
<body>
    <form action="/signup_get" method="post">
        <div class="login">
            <div class="id">
                <div class="id_input">
                    아이디<input type="text" class="_id" name="_id">
                </div>
            </div>
            <div class="pwd">
                <div class="pwd_input">
                    비밀번호<input type="text" class="_pwd" name="_pwd">
                </div>
            </div>
            <div class="name">
                <div class="pwd_input">
                    이름<input type="text" class="_pwd" name="_name">
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="회원가입">
            </div>
        </div>
    </form>
</body>
</html>